			<div id="page-meta" class="t30">
				<div class="article-meta">
					{% if page.author %}
						{% assign author_id = page.author %}
						{% assign author = site.data.authors[author_id] %}
						{% assign author_slug = author_id | slugify %}

						<!--<img class="article-meta-icon" src="{{ site.baseurl }}/assets/icons/icons8-person-96.png" alt="" aria-hidden="true">-->
						{% include Icon_Library.html Icon_Name="Person" Icon_Size="Small" %}
						<a class="article-meta-author" href="{{ site.baseurl }}/authors/{{ author_slug }}/">
							{{ author.name | default: author_id }}
						</a>
						<span class="article-meta-dot">·</span>
					{% endif %}

					{% if page.date %}
						<!--<img class="article-meta-icon" src="{{ site.baseurl }}/assets/icons/icons8-time-80.png" alt="" aria-hidden="true">-->
						{% include Icon_Library.html Icon_Name="Time" Icon_Size="Small" %}
						<time class="article-meta-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
							{{ page.date | date: "%b %-d, %Y" }}
						</time>
						<span class="article-meta-dot">·</span>
					{% endif %}

					{% assign words = page.content | strip_html | number_of_words %}
					{% assign mins = words | divided_by: 225 %}
					{% if mins == 0 %}
						{% assign mins = 1 %}
					{% endif %}

					<!--<img class="article-meta-icon" src="{{ site.baseurl }}/assets/icons/icons8-reading-96.png" alt="" aria-hidden="true">-->
					{% include Icon_Library.html Icon_Name="Book" Icon_Size="Small" %}
					<span class="article-meta-reading">
						{{ mins }} min read
					</span>
				</div>

				<!-- Next and Previous Buttons -->
				{% assign Navigation_Collection = nil %}
				{% assign Navigation_Archive_Url = nil %}
				{% assign Navigation_Archive_Label = nil %}

				{% if page.collection == "content_articles" %}
					{% assign Navigation_Collection = site.content_articles | sort: "date" %}
					{% assign Navigation_Archive_Url = "/articles/" %}
					{% assign Navigation_Archive_Label = "Articles" %}
				{% elsif page.collection == "content_match_days" %}
					{% assign Navigation_Collection = site.content_match_days | sort: "date" %}
					{% assign Navigation_Archive_Url = "/match_day/" %}
					{% assign Navigation_Archive_Label = "Match Day Coverage" %}
				{% endif %}

				{% if Navigation_Collection %}
					{% assign Previous_Page = nil %}
					{% assign Next_Page = nil %}
					{% assign Found_Current_Page = false %}

					{% for Navigation_Item in Navigation_Collection %}
						{% if Found_Current_Page == true and Next_Page == nil %}
							{% assign Next_Page = Navigation_Item %}
						{% endif %}

						{% if Navigation_Item.url == page.url %}
							{% assign Found_Current_Page = true %}
						{% elsif Found_Current_Page == false %}
							{% assign Previous_Page = Navigation_Item %}
						{% endif %}
					{% endfor %}

					<div id="post-nav" class="row">
						{% if Previous_Page %}
							<div class="medium-4 columns">
								<a class="vip-button-more prev" href="{{ site.url }}{{ site.baseurl }}{{ Previous_Page.url }}">
									&laquo; {{ Previous_Page.title }}
								</a>
							</div>
						{% else %}
							<div class="medium-4 columns"></div>
						{% endif %}

						{% if Navigation_Archive_Url and Navigation_Archive_Label %}
							<div class="medium-4 columns text-center">
								<a class="vip-button-more small" href="{{ site.url }}{{ site.baseurl }}{{ Navigation_Archive_Url }}" title="{{ Navigation_Archive_Label }}">
									{{ Navigation_Archive_Label }}
								</a>
							</div>
						{% else %}
							<div class="medium-4 columns text-center"></div>
						{% endif %}

						{% if Next_Page %}
							<div class="medium-4 columns text-right">
								<a class="vip-button-more next" href="{{ site.url }}{{ site.baseurl }}{{ Next_Page.url }}">
									{{ Next_Page.title }} &raquo;
								</a>
							</div>
						{% else %}
							<div class="medium-4 columns text-right"></div>
						{% endif %}
					</div>
				{% endif %}

			</div><!--  /.page-meta -->