			<div id="page-meta" class="t30">
				<div class="article-meta">
					{% if page.author %}
						{% assign author_id = page.author %}
						{% assign author = site.data.authors[author_id] %}
						{% assign author_slug = author_id | slugify %}

						<img class="article-meta-icon" src="{{ site.baseurl }}/assets/icons/icons8-person-96.png" alt="" aria-hidden="true">
						<a class="article-meta-author" href="{{ site.baseurl }}/authors/{{ author_slug }}/">
							{{ author.name | default: author_id }}
						</a>
						<span class="article-meta-dot">·</span>
					{% endif %}

					{% if page.date %}
						<img class="article-meta-icon" src="{{ site.baseurl }}/assets/icons/icons8-time-80.png" alt="" aria-hidden="true">
						<time class="article-meta-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
							{{ page.date | date: "%b %-d, %Y" }}
						</time>
						<span class="article-meta-dot">·</span>
					{% endif %}

					{% assign words = page.content | strip_html | number_of_words %}
					{% assign mins = words | divided_by: 225 %}
					{% if mins == 0 %}
						{% assign mins = 1 %}
					{% endif %}

					<img class="article-meta-icon" src="{{ site.baseurl }}/assets/icons/icons8-reading-96.png" alt="" aria-hidden="true">
					<span class="article-meta-reading">
						{{ mins }} min read
					</span>
				</div>

				{% if page.collection == "posts" %}
				<div id="post-nav" class="row">
					{% if page.previous.url %}
					<div class="medium-5 columns"><a class="button small radius prev" href="{{ site.url }}{{ site.baseurl }}{{page.previous.url}}">&laquo; {{page.previous.title}}</a></div><!-- /.small-4.columns -->
					{% endif %}
					<div class="medium-2 columns text-center"><a class="button small radius expand" href="{{ site.url }}{{ site.baseurl }}/articles/archive/" title="Article {{ site.data.language.archive }}">{{ site.data.language.archive }}</a></div><!-- /.small-4.columns -->
					{% if page.next.url %}
					<div class="medium-5 columns text-right"><a class="button small radius next" href="{{ site.url }}{{ site.baseurl }}{{page.next.url}}">{{page.next.title}} &raquo;</a></div><!-- /.small-4.columns -->
					{% else %}
					<div class="medium-5 columns text-right"></div><!-- /.small-4.columns -->
					{% endif %}
				</div>
				{% endif %}
			</div><!--  /.page-meta -->