---
layout: default
title: "The Authors"
permalink: /authors/
---

<div class="row t30">
    <div class="medium-8 columns medium-offset-2 end">

        {% include section-heading.html title=site.data.language.authors %}

        <div class="author-list">
            {% for pair in site.data.authors %}
            {%- assign author_id = pair[0] -%}
            {%- assign author = pair[1] -%}

            {%- assign author_articles_all = site.content_articles | where: "author", author_id -%}
            {%- assign author_match_days_all = site.content_match_days | where: "author", author_id -%}

            {%- assign author_articles_published = author_articles_all | where_exp: "item", "item.published != false" -%}
            {%- assign author_match_days_published = author_match_days_all | where_exp: "item", "item.published != false" -%}

            {%- assign author_articles_drafts = author_articles_all | where: "published", false -%}
            {%- assign author_match_days_drafts = author_match_days_all | where: "published", false -%}

            {%- assign published_count = author_articles_published.size | plus: author_match_days_published.size -%}
            {%- assign draft_count = author_articles_drafts.size | plus: author_match_days_drafts.size -%}
            {%- assign total_count = published_count | plus: draft_count -%}


            {%- assign author_slug = author_id | slugify -%}

            {%- if total_count > 0 -%}
            <article class="author-card">

                {% if author.image %}
                <a href="{{ site.baseurl }}/authors/{{ author_slug }}/" class="author-avatar-link">
                    <img class="author-avatar-sm" src="{{ site.baseurl }}/images/authors/{{ author.image }}"
                        alt="{{ author.name }}">
                </a>
                {% endif %}

                <div class="author-info">
                    <h3 class="author-name">
                        <a href="{{ site.baseurl }}/authors/{{ author_slug }}/">
                            {{ author.name }}
                        </a>
                    </h3>

                    {% if author.siterole %}
                    <p class="author-role">
                        {{ author.siterole }}
                    </p>
                    {% endif %}

                    <p class="author-count">
                        {{ total_count }} item{% if total_count != 1 %}s{% endif %}
                        <span class="author-count-breakdown">
                            ( 
                            {%- assign parts = "" -%}

                            {%- if author_articles_published.size > 0 -%}
                                {%- assign parts = parts | append: author_articles_published.size | append: " article" -%}
                                {%- if author_articles_published.size != 1 -%}
                                    {%- assign parts = parts | append: "s" -%}
                                {%- endif -%}
                            {%- endif -%}

                            {%- if author_match_days_published.size > 0 -%}
                                {%- if parts != "" -%}
                                    {%- assign parts = parts | append: ", " -%}
                                {%- endif -%}
                                {%- assign parts = parts | append: author_match_days_published.size | append: " match day" -%}
                                {%- if author_match_days_published.size != 1 -%}
                                    {%- assign parts = parts | append: "s" -%}
                                {%- endif -%}
                            {%- endif -%}

                            {{ parts }}
                            )
                            {% if draft_count > 0 %}
                                <br />
                                ( {{ draft_count }} draft{% if draft_count != 1 %}s{% endif %} )
                            {% endif %}
                        </span>
                    </p>

                </div>

            </article>
            {%- endif -%}
            {% endfor %}
        </div>

    </div>
</div>